Réponse à votre demande

<p>Bonjour,<br/><br/>

    Nous vous informons que votre demande de congés a été {{ demand }}. <br/>
    Nous vous invitons à vous rapprocher de votre responsable pour de plus amples informations. <br/><br/>
Cordialement,</p>