{{ user.companyName }} - Changement d'uniforme

<p>Bonjour,<br/><br/>

Le client {{ user.companyName }} a changé son uniforme préféré, connectez-vous sur l'espace administrateur pour le consulter.
<br/><br/>
Cordialement,</p>