{% extends 'CharlestownCollaboratorBundle::layout.html.twig'%}

{% block content %}
    {{ parent() }}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Services</h2>
            </div>
            <div class="container"  style="color:white;  margin-top: 10px;">
                <div class="row content" >
                    <p>
                    <div id="sf" class="row service" >
                        <h1><span class="glyphicon glyphicon-info-sign"></span> Le service Facturation</h1>
                        <p>
                            Pour contacter le service facturation, veuillez envoyer un mail à l'adresse suivante : <center><a style="color:red;" href='mailto:avicogne@charlestown.fr'>avicogne@charlestown.fr</a></center>

                    </p>
                </div>
                <br/>
                <div  id="se" class="row service" >
                    <h1><span class="glyphicon glyphicon-info-sign"></span> Le service exploitation</h1>
                    <p>
                        Pour contacter le service exploitation, veuillez envoyer un mail à l'adresse suivante : <center><a style="color:red;" href='mailto:ctrillaud@charlestown.fr'>ctrillaud@charlestown.fr</a></center>
                    </p>
                </div>
                <br/>
                <div  id="srh" class="row service">
                    <h1><span class="glyphicon glyphicon-info-sign"></span> Le service rh</h1>
                    <p>
                        Pour contacter le service des ressources humaines, veuillez envoyer un mail à l'adresse suivante : <center><a  style="color:red;" href='mailto:alaunais@charlestown.fr'>alaunais@charlestown.fr</a></center>
                    </p>
                </div>
                <br/>
                <div id="sc" class="row service" >
                    <h1><span class="glyphicon glyphicon-info-sign"></span> Le service commercial</h1>
                    <p>
                        Pour contacter le service commercial, veuillez envoyer un mail à l'adresse suivante : <center><a style="color:red;" href='mailto:ncauchou@charlestown.fr'>ncauchou@charlestown.fr</a></center>
                    </p>
                </div>
                <br/>


                <br/>
                <div  id="dg" class="row service" >
                    <h1><span class="glyphicon glyphicon-info-sign"></span> La direction générale</h1>
                    <p>
                        Pour contacter la direction générale, veuillez envoyer un mail à l'adresse suivante : <center><a style="color:red;" href='mailto:fvallet@charlestown.fr'>fvallet@charlestown.fr</a></center>
                    </p>
                </div>
                </p>


            </div>
        </div>
    </div>

{% endblock %}
