{% extends "::base.html.twig" %}


{% block body %}
    {{ parent() }}
    <div class="container charletown-container">
        <div class="row charlestown-container">
            <div class="col-md-12 charlestown-col-md-12">
                <h2 class="charlestown-title">Choix de l'espace</h2>
                <div class="container"></div>
                    <div class="row">
                        <div class="col-md-6" style="text-align: center;">
                            <a class="btn btn-large btn-danger" style="font-size: 20px;" href="{{ path('select_role', {'role' : 1}) }}">Espace accueil en entreprise</a>
                        </div>
                        <div class="col-md-6" style="text-align: center;">
                            <a class="btn btn-large btn-warning" style="font-size: 20px;" href="{{ path('select_role', {'role' : 2}) }}">Espace évènementiel</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                                Après ce choix il vous sera demandé de vous reconnecter.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}