
{% extends 'CharlestownCollaboratorBundle::layout.html.twig' %}
{% block content %}
    {{ parent() }}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body" style="margin-bottom: 35px;">
            Condition d'utilisation<br/><br/>

            Bienvenue sur le site Web www.charlestown.fr de Charlestown<br/>
            © Charlestown 2016 - Tous droits réservés<br/><br/>

            Pour toute remarque relative au fonctionnement du site, merci d’adresser un courriel à l’administrateur du site à l’adresse suivante : infos@charlestown.fr
            <br/><br/>
            En utilisant ce Site, vous acceptez de respecter et d'être lié par les termes et conditions ci-après concernant l'utilisation du Site (« Conditions d'utilisation ») Nous nous réservons le droit de modifier les Conditions d'utilisation et la charte de confidentialité à tout moment sans préavis
            <br/><br/>
            Droit d’auteur – Copyright – Marques<br/><br/>
            L’ensemble de ce site (contenu et présentation) constitue une œuvre protégée par la législation française et internationale en vigueur sur le droit d’auteur et d’une manière générale sur la propriété intellectuelle et industrielle.<br/>
            La reproduction partielle ou intégrale des éléments précités et d’une manière générale, la reproduction de tout ou partie de ce site sur un support électronique quel qu’il soit, est formellement interdite, sans l’accord écrit et préalable de Charlestown.<br/>
            La reproduction des textes et pages web du site sur un support papier demeure autorisée, sous réserve du respect des conditions cumulatives suivantes : gratuité de la diffusion, respect de l’intégrité et de la finalité des documents reproduits (ni modifications, ni altérations), respect de la finalité du site dans l’utilisation de ces informations et éléments, citation claire et lisible de la source avec mention du nom du site, de son adresse internet et du copyright Charlestown.<br/>
            Par ailleurs, toutes les marques citées et logos représentés sur ce site sont propriété de leurs titulaires respectifs.<br/>
            <br/> Exclusions de responsabilité et de garantie de Charlestown<br/><br/>
            En aucun cas Charlestown ne peut être tenue pour responsable des dommages résultant directement ou indirectement d'accidents ou de négligences ne lui étant pas imputables ou du non-respect par l’internaute des recommandations ou restrictions formulées par Charlestown ou encore d’une utilisation inappropriée ou mauvaise compréhension de la part de l’internaute dans le cadre de l’usage du présent site web.<br/>
            Charlestown exonère sa responsabilité du fait d’éventuelles informations accessibles sur le site web et s’avérant matériellement erronées ou incomplètes (erreurs techniques ou défaillances dues au système d’information du site web, erreurs matérielles ou typographiques lors de leur introduction dans le système, erreur ou omission dans une mise à jour).<br/>
            Charlestown décline toute responsabilité lors de l’utilisation de son site pour interagir ou échangé avec un autre utilisateur.<br/>
            <br/>Attribution de compétence<br/><br/>
            Le présent site web est régi par la loi française.<br/>
            De convention expresse, tout litige sera soumis à défaut d'accord amiable entre les Parties, au Tribunal de Commerce de Nanterre, auquel il est attribué compétence territoriale quel que soit le lieu d'exécution des prestations ou le domicile du défendeur et ce, y compris en cas de référé, de pluralité de défendeurs, d'appel en cause ou en garantie.<br/>
            <br/>Données personnelles<br/><br/>
            Lorsque vous envoyez un message ou remplissez un formulaire de demande d’information à Charlestown, lorsque vous postulez à une offre d'emploi ou de stage sur le site www.charlestown.fr, vous nous communiquez des informations personnelles. Nous conservons ces informations afin de vous faire connaître des offres ou des opérations promotionnelles correspondant à vos besoins et de répondre au mieux à votre candidature.<br/>
            Lorsque vous déposez une idée dans la boite à idée du site www.charlestown.fr, vous acceptez de céder vos droits sur cette idée et ne recevrez aucunes compensations de la part de Charlestown.<br/>
            Aucune information personnelle ne sera collectée à votre insu, ne sera utilisée à d’autres finalités que celles du présent site et ne sera cédée à des tiers sans votre autorisation ou sans que vous n’en soyez clairement informés.<br/>
            Les mentions nominatives vous concernant pourront être conservées et exploitées par le propriétaire du site pendant une durée qui n’excédera pas la durée nécessaire aux finalités du présent site web. Nous nous engageons à prendre toutes précautions utiles pour préserver la confidentialité et l’intégrité de ces données.
            <br/>
            Conformément à la loi "Informatique et Libertés" du 6 janvier 1978 modifiée en 2004, vous bénéficiez  de droits permanents d’accès, de rectification, de compléments, de mise à jour ou de suppression des données vous concernant, exploitées, traitées ou diffusées sur ce site.. Pour exercer ces droits, envoyez un e-mail à l’administrateur de notre site à l’adresse suivante : infos@charlestown.fr  ou bien adressez-nous un courrier postal à : Charlestown, 55 rue Fondary – 75015 Paris.<br/>

        </div>
    </div>
</div>


{% endblock %}
