
{% extends 'CharlestownCustomerBundle::layout.html.twig' %}
{% block content %}
    {{ parent() }}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body" style="margin-bottom: 35px;">
            Société éditrice du site<br/><br/>

            Charlestown – SAS au capital de 4 950 000 €<br/>
            55 rue Fondary 75015 Paris France<br/>
            RCS Paris B 351 825 419 8299 Z<br/>
            <br/>
            <br/>
            Hébergement<br/><br/>

            AGENCE K2 – Paris<br/>
            www.agencek2.com<br/><br/><br/>

            DONNÉES PERSONNELLES<br/><br/>

            Conformément aux dispositions de la loi Informatique et Libertés du 6 janvier 1978, toutes les données informatiques vous concernant sont traitées de manière strictement confidentielle. Vous disposez d’un droit d’accès, de rectification, et d’opposition de ces données personnelles. Vous pouvez exercer ce droit en ligne à tout moment via la page Contact en adressant votre courrier à : Charlestown – 55 rue Fondary Paris 75015 – France
            <br/><br/>

            DROITS D’AUTEUR<br/><br/>

            L’utilisation de tout document provenant du site Charlestown n’est autorisée qu’à titre d’information pour un usage privé et personnel. Toute réutilisation, reproduction, retranscription, modification qui pourraient être effectuées à d’autres fins sont expressément interdites, à défaut d’une demande d’autorisation préalable faite par écrit à la société : Charlestown – 55 rue Fondary Paris 75015 – France
            <br/><br/>
            ACCÈS AU SITE
            <br/><br/>
            Charlestown se réserve le droit de modifier, résilier, suspendre ou interrompre à tout moment, pour toutes raisons et à sa seule discrétion, l’accès à tout ou partie du site, y compris pour le contenu, les fonctionnalités ou les heures de disponibilité sans avis préalable.
            <br/>   
        </div>
    </div>
</div>

{% endblock %}