.p{
    font-family: "Roboto",arial,sans-serif !important;
}
/* MENU */
.firstNav{width:50%; top:50px; left:125px; border:medium none;z-index:2;background-color: rgb(192, 192, 192)!important;padding: 1px;}
.secondNav{width:100%;border:medium none; z-index:1;}
.container-fluid{ background-color:#000000; border: medium none; border-radius:10px; margin:0px; padding:0px;}
.logo_header{ width:auto; height:100%;}
.dropdown-menu{ background-color: black;box-shadow: 2px 2px 2px gray, -1px -1px 2px white; top:105%; }
.navbar-default{ background-color: transparent; background-image: none; box-shadow: none; }
.dropdown-menu > li > a { color: white; }
.dropdown-toggle{ color:white !important; }
.divider-vertical{ border-left: 1px solid #606060; border-right: 1px solid #464646; height: 100%; }
.divider-vertical-second{ border-left: 1px solid #F00; border-right: 1px solid #ff3651; height: 50px; }
.navbar-collapse{ margin:0px; padding:0px; }
.navbar-default .navbar-nav > li > a{color:white;}
.espace{position: absolute; top: 21px; right: 175px; z-index: 1;}
.imgPresentation{width:100%; height:auto;}

.menubutton{  width:24%;  text-align: center; height: 100%; }
.menubuttonEvent{  width:32%;  text-align: center; height: 100%; }
.menubutton:hover, .menubutton:focus { background-color: white;}
.menubuttonEvent:hover, .menubutton:focus { background-color: white;}
.menuheader{ width:25%; height:55px; }
.menucontainer{ width:100%; height:100%;}
.menuwrapper{width:75%; height:55px; float:left;}
/* FINMENU */

/* MODALS */
.modal-dialog{ width:70%; top:100px; background-color: rgb(192, 192, 192);padding: 1px;box-shadow: 2px 2px 2px gray, -1px -1px 2px white;}
.modal-content{ background-color: black; color:white; }
.modal-header > button{ opacity: 1; color:white; text-shadow: none;}
.modal-header{border: none;}
.modal-footer{border: none;}
/* FINMODALS */

/* COMMONS */
body{
    background-image: url("../../images/slide/bg1.jpg");
    background-color: #FFF;
    background-position: center center;
    background-size:cover;
    overflow-x: hidden!important;
}

hr{
    border-color: rgb(255, 0, 0);
    border-width: 1px;
    margin-top:-20px;
}
td a {
    color:#F00;
}
.textAlignCenter{text-align: center;}
.bold{font-weight: bold;}
.underline{text-decoration: underline;}
.redtext{color:red;}
.whitetext{color:white;}
.text20{font-size: 20px;}
.bluetext{color:blue;}
.greenValidate{color:green; position:absolute; top:-15px; left:-10px; font-size: 30px;}
.mbottom15{margin-bottom: 15px;}
.width50{width:50px;}
.height50{height:50px !important;}
.redUnderline{text-decoration: underline; color:red !important;}
.table-condensed > tbody > tr > td{text-align:center;}
.nav-tabs > li > a { color:white; }
.nav-tabs > li:hover{ color:black !important; }
.nav-tabs > li:focus{ color:black !important; }
.uniformResize{width:100%;height:auto;}

.hidden{
    display:none;
}

.table-condensed > thead > tr > th {
    text-align: center;
    background-color: black;
    color:white;
}

.table-condensed {
    background-color: white;
    color:black;
}
.btn-danger{
    background-color: #F00;
}
.control-label{ color : white;}
/* ENCOMMONS */

/*SPACE MENU*/
.space-menu{box-shadow: 2px 2px 2px gray, -1px -1px 2px white;top: 50px; right: 12%; position: absolute; width:160px; height:60px; z-index:2;background-color:black; border-radius:30px 10px 10px 30px;}
.rounded-image{display: block; background-color: white;  margin: 0 auto;  width: 60px;  height: 60px;  -webkit-border-radius: 50%;  -moz-border-radius: 50%;  border-radius: 50%; float:left; margin-left: -1px;}
.space-menu-txt{width:95px; float:right; line-height:60px;}
.space-menu-txt:focus{color:black;background-color:white; border-radius:30px 10px 10px 30px;}
.space-menu-txt:hover{color:black;background-color:white; border-radius:30px 10px 10px 30px;}
.space-menu:hover{background-color: white;}
.space-menu:focus{background-color: white;}
.space-menu-link{padding:0; width:150px;}
.space-menu-der{z-index:1;margin-left:42px;margin-top:-10px;position:unset;}
/*ENDSPACE MENU*/

.navbar-default .navbar-nav > .open > a { color: black !important; }
.dropdown-toggle:focus { color: black !important; }
.dropdown-toggle:hover { color: black !important; }
/* DEMANDS */
.half{width:50%;display:inline-block;}
/* ENDDEMANDS */

.article{height:200px;}
.articleImage{width:auto;height:100%;}
.articleButton{float:left;margin-top:-210px;}
.articleTitle{color:white;}
.articleTexte{color:white;}

.offer{height:150px;}
.offer_image{height:100%;width:auto;}
.offer_title{color: white;margin-top: -150px;margin-left: 150px;}
.offer_text{color: white; margin-left: 150px;}
.offer_accept{margin-top:50px; float:right;}
.offer_accept2{margin-top:50px; float:right;margin-right:-160px;}
.offer_cancel{margin-top:-65px; float:right;}
.offer_update{margin-top:-30px; float:right;}
.offer_reput{margin-top:5px; float:right; margin-right:-75px;}

@media (max-width: 1350px) {
    .logo_header{ width:auto; height:80%;}
    .image_accueil{ height:auto; width:80%;}
}
@media (max-width: 1075px) {
    .logo_header{ width:auto; height:70%;}
    .image_accueil{ height:auto; width:70%;}

}
.vegas-wrapper,
.vegas-overlay,
.vegas-timer,
.vegas-slide,
.vegas-slide-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    border: none;
    padding: 0;
    margin: 0;
}

.vegas-overlay {
    opacity: .5;
    background: transparent url(../../bundles/charlestowncore/css/overlays/02.png) center center repeat;
}

.vegas-timer {
    top: auto;
    bottom: 0;
    height: 2px;
}
    .vegas-timer-progress {
        width: 0%;
        height: 100%;
        background: white;
        -webkit-transition: width ease-out;
                transition: width ease-out;
    }
        .vegas-timer-running .vegas-timer-progress {
            width: 100%;
        }

.vegas-slide,
.vegas-slide-inner {
    margin: 0;
    padding: 0;
    background: transparent center center no-repeat;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}

body .vegas-container {
    overflow: hidden !important;
    position: relative;
}
    
.vegas-video {
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
}

body.vegas-container {
    overflow: auto;
    position: static;
    z-index: -2;
}
    body.vegas-container > .vegas-timer,
    body.vegas-container > .vegas-overlay,
    body.vegas-container > .vegas-slide {
        position: fixed;
        z-index: -1;
    }

    /* Target Safari IOS7+ in order to add 76px */
    _::full-page-media, _:future, 
    :root body.vegas-container > .vegas-slide,
    :root body.vegas-container > .vegas-overlay {
        bottom: -76px;
    }

/*************************
    Transitions
 *************************/

/* fade */
.vegas-transition-fade,
.vegas-transition-fade2 {
    opacity: 0;
}

.vegas-transition-fade-in,
.vegas-transition-fade2-in {
    opacity: 1;
}

.vegas-transition-fade2-out {
    opacity: 0;
}

/* blur */
.vegas-transition-blur,
.vegas-transition-blur2 {
    opacity: 0;
    -webkit-filter: blur(32px);
            filter: blur(32px);
}

.vegas-transition-blur-in,
.vegas-transition-blur2-in {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
}

.vegas-transition-blur2-out {
    opacity: 0;
}

/* flash */
.vegas-transition-flash,
.vegas-transition-flash2 {
    opacity: 0;
    -webkit-filter: brightness(25);
            filter: brightness(25);
}

.vegas-transition-flash-in,
.vegas-transition-flash2-in {
    opacity: 1;
    -webkit-filter: brightness(1);
            filter: brightness(1);
}

.vegas-transition-flash2-out {
    opacity: 0;
    -webkit-filter: brightness(25);
            filter: brightness(25);
}

/* negative */
.vegas-transition-negative,
.vegas-transition-negative2 {
    opacity: 0;
    -webkit-filter: invert(100%);
            filter: invert(100%);
}

.vegas-transition-negative-in,
.vegas-transition-negative2-in {
    opacity: 1;
    -webkit-filter: invert(0);
            filter: invert(0);
}

.vegas-transition-negative2-out {
    opacity: 0;
    -webkit-filter: invert(100%);
            filter: invert(100%);
}

/* burn */
.vegas-transition-burn,
.vegas-transition-burn2 {
    opacity: 0;
    -webkit-filter: contrast(1000%) saturate(1000%);
            filter: contrast(1000%) saturate(1000%);
}

.vegas-transition-burn-in,
.vegas-transition-burn2-in {
    opacity: 1;
    -webkit-filter: contrast(100%) saturate(100%);
            filter: contrast(100%) saturate(100%);
}

.vegas-transition-burn2-out {
    opacity: 0;
    -webkit-filter: contrast(1000%) saturate(1000%);
            filter: contrast(1000%) saturate(1000%);
}

/* slideLeft */
.vegas-transition-slideLeft,
.vegas-transition-slideLeft2 {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
}

.vegas-transition-slideLeft-in,
.vegas-transition-slideLeft2-in {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%); 
}

.vegas-transition-slideLeft2-out {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
}

/* slideRight */
.vegas-transition-slideRight,
.vegas-transition-slideRight2 {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
}

.vegas-transition-slideRight-in,
.vegas-transition-slideRight2-in {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%); 
}

.vegas-transition-slideRight2-out {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
}

/* slideUp */
.vegas-transition-slideUp,
.vegas-transition-slideUp2 {
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
}

.vegas-transition-slideUp-in,
.vegas-transition-slideUp2-in {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%); 
}

.vegas-transition-slideUp2-out {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
}

/* slideDown */
.vegas-transition-slideDown,
.vegas-transition-slideDown2 {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
}

.vegas-transition-slideDown-in,
.vegas-transition-slideDown2-in {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%); 
}

.vegas-transition-slideDown2-out {
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
}

/* zoomIn */
.vegas-transition-zoomIn,
.vegas-transition-zoomIn2 {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    opacity: 0;
}

.vegas-transition-zoomIn-in,
.vegas-transition-zoomIn2-in {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    opacity: 1;
}

.vegas-transition-zoomIn2-out {
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
    opacity: 0;
}

/* zoomOut */
.vegas-transition-zoomOut,
.vegas-transition-zoomOut2 {
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
    opacity: 0;
}

.vegas-transition-zoomOut-in,
.vegas-transition-zoomOut2-in {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    opacity: 1;
}

.vegas-transition-zoomOut2-out {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    opacity: 0;
}

/* swirlLeft */
.vegas-transition-swirlLeft,
.vegas-transition-swirlLeft2 {
    -webkit-transform: scale(2) rotate(35deg);
        -ms-transform: scale(2) rotate(35deg);
            transform: scale(2) rotate(35deg);
    opacity: 0;
}

.vegas-transition-swirlLeft-in,
.vegas-transition-swirlLeft2-in {
    -webkit-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg); 
    opacity: 1;
}

.vegas-transition-swirlLeft2-out {
    -webkit-transform: scale(2) rotate(-35deg);
        -ms-transform: scale(2) rotate(-35deg);
            transform: scale(2) rotate(-35deg);
    opacity: 0;
}

/* swirlRight */
.vegas-transition-swirlRight,
.vegas-transition-swirlRight2 {
    -webkit-transform: scale(2) rotate(-35deg);
        -ms-transform: scale(2) rotate(-35deg);
            transform: scale(2) rotate(-35deg);
    opacity: 0;
}

.vegas-transition-swirlRight-in,
.vegas-transition-swirlRight2-in {
    -webkit-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
    opacity: 1;
}

.vegas-transition-swirlRight2-out {
    -webkit-transform: scale(2) rotate(35deg);
        -ms-transform: scale(2) rotate(35deg);
            transform: scale(2) rotate(35deg);
    opacity: 0;
}

/*************************
    Animations
 *************************/

.vegas-animation-kenburns {
    -webkit-animation: kenburns ease-out;
            animation: kenburns ease-out;
}
@-webkit-keyframes kenburns {
    0% {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@keyframes kenburns {
    0% {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.vegas-animation-kenburnsUp {
    -webkit-animation: kenburnsUp ease-out;
            animation: kenburnsUp ease-out;
}
@-webkit-keyframes kenburnsUp {
    0% {
        -webkit-transform: scale(1.5) translate(0, 10%);
                transform: scale(1.5) translate(0, 10%);
    }
    100% {
        -webkit-transform: scale(1) translate(0, 0);
                transform: scale(1) translate(0, 0);
    }
}
@keyframes kenburnsUp {
    0% {
        -webkit-transform: scale(1.5) translate(0, 10%);
                transform: scale(1.5) translate(0, 10%);
    }
    100% {
        -webkit-transform: scale(1) translate(0, 0);
                transform: scale(1) translate(0, 0);
    }
}

.vegas-animation-kenburnsDown {
    -webkit-animation: kenburnsDown ease-out;
            animation: kenburnsDown ease-out;
}
@-webkit-keyframes kenburnsDown {
    0% {
        -webkit-transform: scale(1.5) translate(0, -10%);
                transform: scale(1.5) translate(0, -10%);
    }
    100% {
        -webkit-transform: scale(1) translate(0, 0);
                transform: scale(1) translate(0, 0);
    }
}
@keyframes kenburnsDown {
    0% {
        -webkit-transform: scale(1.5) translate(0, -10%);
                transform: scale(1.5) translate(0, -10%);
    }
    100% {
        -webkit-transform: scale(1) translate(0, 0);
                transform: scale(1) translate(0, 0);
    }
}

.vegas-animation-kenburnsLeft {
    -webkit-animation: kenburnsLeft ease-out;
            animation: kenburnsLeft ease-out;
}
@-webkit-keyframes kenburnsLeft {
    0% {
        -webkit-transform: scale(1.5) translate(10%, 0);
                transform: scale(1.5) translate(10%, 0);
    }
    100% {
        -webkit-transform: scale(1) translate(0, 0);
                transform: scale(1) translate(0, 0);
    }
}
@keyframes kenburnsLeft {
    0% {
        -webkit-transform: scale(1.5) translate(10%, 0);
                transform: scale(1.5) translate(10%, 0);
    }
    100% {
        -webkit-transform: scale(1) translate(0, 0);
                transform: scale(1) translate(0, 0);
    }
}

.vegas-animation-kenburnsRight {
    -webkit-animation: kenburnsRight ease-out;
            animation: kenburnsRight ease-out;
}
@-webkit-keyframes kenburnsRight {
    0% {
        -webkit-transform: scale(1.5) translate(-10%, 0);
                transform: scale(1.5) translate(-10%, 0);
    }
    100% {
        -webkit-transform: scale(1) translate(0, 0);
                transform: scale(1) translate(0, 0);
    }
}
@keyframes kenburnsRight {
    0% {
        -webkit-transform: scale(1.5) translate(-10%, 0);
                transform: scale(1.5) translate(-10%, 0);
    }
    100% {
        -webkit-transform: scale(1) translate(0, 0);
                transform: scale(1) translate(0, 0);
    }
}

.vegas-animation-kenburnsUpLeft {
    -webkit-animation: kenburnsUpLeft ease-out;
            animation: kenburnsUpLeft ease-out;
}
@-webkit-keyframes kenburnsUpLeft {
    0% {
        -webkit-transform: scale(1.5) translate(10%, 10%);
                transform: scale(1.5) translate(10%, 10%);
    }
    100% {
        -webkit-transform: scale(1) translate(0, 0);
                transform: scale(1) translate(0, 0);
    }
}
@keyframes kenburnsUpLeft {
    0% {
        -webkit-transform: scale(1.5) translate(10%, 10%);
                transform: scale(1.5) translate(10%, 10%);
    }
    100% {
        -webkit-transform: scale(1) translate(0, 0);
                transform: scale(1) translate(0, 0);
    }
}

.vegas-animation-kenburnsUpRight {
    -webkit-animation: kenburnsUpRight ease-out;
            animation: kenburnsUpRight ease-out;
}
@-webkit-keyframes kenburnsUpRight {
    0% {
        -webkit-transform: scale(1.5) translate(-10%, 10%);
                transform: scale(1.5) translate(-10%, 10%);
    }
    100% {
        -webkit-transform: scale(1) translate(0, 0);
                transform: scale(1) translate(0, 0);
    }
}
@keyframes kenburnsUpRight {
    0% {
        -webkit-transform: scale(1.5) translate(-10%, 10%);
                transform: scale(1.5) translate(-10%, 10%);
    }
    100% {
        -webkit-transform: scale(1) translate(0, 0);
                transform: scale(1) translate(0, 0);
    }
}

.vegas-animation-kenburnsDownLeft {
    -webkit-animation: kenburnsDownLeft ease-out;
            animation: kenburnsDownLeft ease-out;
}
@-webkit-keyframes kenburnsDownLeft {
    0% {
        -webkit-transform: scale(1.5) translate(10%, -10%);
                transform: scale(1.5) translate(10%, -10%);
    }
    100% {
        -webkit-transform: scale(1) translate(0, 0);
                transform: scale(1) translate(0, 0);
    }
}
@keyframes kenburnsDownLeft {
    0% {
        -webkit-transform: scale(1.5) translate(10%, -10%);
                transform: scale(1.5) translate(10%, -10%);
    }
    100% {
        -webkit-transform: scale(1) translate(0, 0);
                transform: scale(1) translate(0, 0);
    }
}

.vegas-animation-kenburnsDownRight {
    -webkit-animation: kenburnsDownRight ease-out;
            animation: kenburnsDownRight ease-out;
}
@-webkit-keyframes kenburnsDownRight {
    0% {
        -webkit-transform: scale(1.5) translate(-10%, -10%);
                transform: scale(1.5) translate(-10%, -10%);
    }
    100% {
        -webkit-transform: scale(1) translate(0, 0);
                transform: scale(1) translate(0, 0);
    }
}
@keyframes kenburnsDownRight {
    0% {
        -webkit-transform: scale(1.5) translate(-10%, -10%);
                transform: scale(1.5) translate(-10%, -10%);
    }
    100% {
        -webkit-transform: scale(1) translate(0, 0);
                transform: scale(1) translate(0, 0);
    }
}

.vegas-overlay,.vegas-slide,.vegas-slide-inner,.vegas-timer,.vegas-wrapper{position:absolute;top:0;left:0;bottom:0;right:0;overflow:hidden;border:none;padding:0;margin:0}.vegas-overlay{opacity:.5;background:url(../../bundles/charlestowncore/css/overlays/02.png) center center}.vegas-timer{top:auto;bottom:0;height:2px}.vegas-timer-progress{width:0;height:100%;background:#fff;-webkit-transition:width ease-out;transition:width ease-out}.vegas-timer-running .vegas-timer-progress{width:100%}.vegas-slide,.vegas-slide-inner{margin:0;padding:0;background:center center no-repeat;-webkit-transform:translateZ(0);transform:translateZ(0)}body .vegas-container{overflow:hidden!important;position:relative}.vegas-video{min-width:100%;min-height:100%;width:auto;height:auto}body.vegas-container{overflow:auto;position:static;z-index:-2}body.vegas-container>.vegas-overlay,body.vegas-container>.vegas-slide,body.vegas-container>.vegas-timer{position:fixed;z-index:-1}:root body.vegas-container>.vegas-overlay,:root body.vegas-container>.vegas-slide,_::full-page-media,_:future{bottom:-76px}.vegas-transition-fade,.vegas-transition-fade2{opacity:0}.vegas-transition-fade-in,.vegas-transition-fade2-in{opacity:1}.vegas-transition-fade2-out{opacity:0}.vegas-transition-blur,.vegas-transition-blur2{opacity:0;-webkit-filter:blur(32px);filter:blur(32px)}.vegas-transition-blur-in,.vegas-transition-blur2-in{opacity:1;-webkit-filter:blur(0px);filter:blur(0px)}.vegas-transition-blur2-out{opacity:0}.vegas-transition-flash,.vegas-transition-flash2{opacity:0;-webkit-filter:brightness(25);filter:brightness(25)}.vegas-transition-flash-in,.vegas-transition-flash2-in{opacity:1;-webkit-filter:brightness(1);filter:brightness(1)}.vegas-transition-flash2-out{opacity:0;-webkit-filter:brightness(25);filter:brightness(25)}.vegas-transition-negative,.vegas-transition-negative2{opacity:0;-webkit-filter:invert(100%);filter:invert(100%)}.vegas-transition-negative-in,.vegas-transition-negative2-in{opacity:1;-webkit-filter:invert(0);filter:invert(0)}.vegas-transition-negative2-out{opacity:0;-webkit-filter:invert(100%);filter:invert(100%)}.vegas-transition-burn,.vegas-transition-burn2{opacity:0;-webkit-filter:contrast(1000%) saturate(1000%);filter:contrast(1000%) saturate(1000%)}.vegas-transition-burn-in,.vegas-transition-burn2-in{opacity:1;-webkit-filter:contrast(100%) saturate(100%);filter:contrast(100%) saturate(100%)}.vegas-transition-burn2-out{opacity:0;-webkit-filter:contrast(1000%) saturate(1000%);filter:contrast(1000%) saturate(1000%)}.vegas-transition-slideLeft,.vegas-transition-slideLeft2{-webkit-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%)}.vegas-transition-slideLeft-in,.vegas-transition-slideLeft2-in{-webkit-transform:translateX(0%);-ms-transform:translateX(0%);transform:translateX(0%)}.vegas-transition-slideLeft2-out,.vegas-transition-slideRight,.vegas-transition-slideRight2{-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%)}.vegas-transition-slideRight-in,.vegas-transition-slideRight2-in{-webkit-transform:translateX(0%);-ms-transform:translateX(0%);transform:translateX(0%)}.vegas-transition-slideRight2-out{-webkit-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%)}.vegas-transition-slideUp,.vegas-transition-slideUp2{-webkit-transform:translateY(100%);-ms-transform:translateY(100%);transform:translateY(100%)}.vegas-transition-slideUp-in,.vegas-transition-slideUp2-in{-webkit-transform:translateY(0%);-ms-transform:translateY(0%);transform:translateY(0%)}.vegas-transition-slideDown,.vegas-transition-slideDown2,.vegas-transition-slideUp2-out{-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%)}.vegas-transition-slideDown-in,.vegas-transition-slideDown2-in{-webkit-transform:translateY(0%);-ms-transform:translateY(0%);transform:translateY(0%)}.vegas-transition-slideDown2-out{-webkit-transform:translateY(100%);-ms-transform:translateY(100%);transform:translateY(100%)}.vegas-transition-zoomIn,.vegas-transition-zoomIn2{-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0);opacity:0}.vegas-transition-zoomIn-in,.vegas-transition-zoomIn2-in{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);opacity:1}.vegas-transition-zoomIn2-out,.vegas-transition-zoomOut,.vegas-transition-zoomOut2{-webkit-transform:scale(2);-ms-transform:scale(2);transform:scale(2);opacity:0}.vegas-transition-zoomOut-in,.vegas-transition-zoomOut2-in{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);opacity:1}.vegas-transition-zoomOut2-out{-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0);opacity:0}.vegas-transition-swirlLeft,.vegas-transition-swirlLeft2{-webkit-transform:scale(2) rotate(35deg);-ms-transform:scale(2) rotate(35deg);transform:scale(2) rotate(35deg);opacity:0}.vegas-transition-swirlLeft-in,.vegas-transition-swirlLeft2-in{-webkit-transform:scale(1) rotate(0deg);-ms-transform:scale(1) rotate(0deg);transform:scale(1) rotate(0deg);opacity:1}.vegas-transition-swirlLeft2-out,.vegas-transition-swirlRight,.vegas-transition-swirlRight2{-webkit-transform:scale(2) rotate(-35deg);-ms-transform:scale(2) rotate(-35deg);transform:scale(2) rotate(-35deg);opacity:0}.vegas-transition-swirlRight-in,.vegas-transition-swirlRight2-in{-webkit-transform:scale(1) rotate(0deg);-ms-transform:scale(1) rotate(0deg);transform:scale(1) rotate(0deg);opacity:1}.vegas-transition-swirlRight2-out{-webkit-transform:scale(2) rotate(35deg);-ms-transform:scale(2) rotate(35deg);transform:scale(2) rotate(35deg);opacity:0}.vegas-animation-kenburns{-webkit-animation:kenburns ease-out;animation:kenburns ease-out}@-webkit-keyframes kenburns{0%{-webkit-transform:scale(1.5);transform:scale(1.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes kenburns{0%{-webkit-transform:scale(1.5);transform:scale(1.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}.vegas-animation-kenburnsUp{-webkit-animation:kenburnsUp ease-out;animation:kenburnsUp ease-out}@-webkit-keyframes kenburnsUp{0%{-webkit-transform:scale(1.5) translate(0,10%);transform:scale(1.5) translate(0,10%)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}@keyframes kenburnsUp{0%{-webkit-transform:scale(1.5) translate(0,10%);transform:scale(1.5) translate(0,10%)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}.vegas-animation-kenburnsDown{-webkit-animation:kenburnsDown ease-out;animation:kenburnsDown ease-out}@-webkit-keyframes kenburnsDown{0%{-webkit-transform:scale(1.5) translate(0,-10%);transform:scale(1.5) translate(0,-10%)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}@keyframes kenburnsDown{0%{-webkit-transform:scale(1.5) translate(0,-10%);transform:scale(1.5) translate(0,-10%)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}.vegas-animation-kenburnsLeft{-webkit-animation:kenburnsLeft ease-out;animation:kenburnsLeft ease-out}@-webkit-keyframes kenburnsLeft{0%{-webkit-transform:scale(1.5) translate(10%,0);transform:scale(1.5) translate(10%,0)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}@keyframes kenburnsLeft{0%{-webkit-transform:scale(1.5) translate(10%,0);transform:scale(1.5) translate(10%,0)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}.vegas-animation-kenburnsRight{-webkit-animation:kenburnsRight ease-out;animation:kenburnsRight ease-out}@-webkit-keyframes kenburnsRight{0%{-webkit-transform:scale(1.5) translate(-10%,0);transform:scale(1.5) translate(-10%,0)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}@keyframes kenburnsRight{0%{-webkit-transform:scale(1.5) translate(-10%,0);transform:scale(1.5) translate(-10%,0)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}.vegas-animation-kenburnsUpLeft{-webkit-animation:kenburnsUpLeft ease-out;animation:kenburnsUpLeft ease-out}@-webkit-keyframes kenburnsUpLeft{0%{-webkit-transform:scale(1.5) translate(10%,10%);transform:scale(1.5) translate(10%,10%)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}@keyframes kenburnsUpLeft{0%{-webkit-transform:scale(1.5) translate(10%,10%);transform:scale(1.5) translate(10%,10%)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}.vegas-animation-kenburnsUpRight{-webkit-animation:kenburnsUpRight ease-out;animation:kenburnsUpRight ease-out}@-webkit-keyframes kenburnsUpRight{0%{-webkit-transform:scale(1.5) translate(-10%,10%);transform:scale(1.5) translate(-10%,10%)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}@keyframes kenburnsUpRight{0%{-webkit-transform:scale(1.5) translate(-10%,10%);transform:scale(1.5) translate(-10%,10%)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}.vegas-animation-kenburnsDownLeft{-webkit-animation:kenburnsDownLeft ease-out;animation:kenburnsDownLeft ease-out}@-webkit-keyframes kenburnsDownLeft{0%{-webkit-transform:scale(1.5) translate(10%,-10%);transform:scale(1.5) translate(10%,-10%)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}@keyframes kenburnsDownLeft{0%{-webkit-transform:scale(1.5) translate(10%,-10%);transform:scale(1.5) translate(10%,-10%)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}.vegas-animation-kenburnsDownRight{-webkit-animation:kenburnsDownRight ease-out;animation:kenburnsDownRight ease-out}@-webkit-keyframes kenburnsDownRight{0%{-webkit-transform:scale(1.5) translate(-10%,-10%);transform:scale(1.5) translate(-10%,-10%)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}@keyframes kenburnsDownRight{0%{-webkit-transform:scale(1.5) translate(-10%,-10%);transform:scale(1.5) translate(-10%,-10%)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}