.p{
    font-family: "Roboto",arial,sans-serif !important;
}
/* MENU */
.firstNav{width:50%; top:50px; left:125px; border:medium none;z-index:2;background-color: rgb(192, 192, 192)!important;padding: 1px;}
.secondNav{width:100%;border:medium none; z-index:1;}
/*.secondNav * {height:25px;}*/
.container-fluid{ background-color:#000000; opacity: 0.8; border: medium none; border-radius:10px; margin:0px; padding:0px;}
.logo_header{ width:auto; height:100%;}
.dropdown-menu{ background-color: black;box-shadow: 2px 2px 2px gray, -1px -1px 2px white; }
.navbar-default{ background-color: transparent; background-image: none; box-shadow: none; }
.dropdown-menu > li > a { color: white; }
.dropdown-toggle{ color:white !important; }
.divider-vertical{ border-left: 1px solid #606060; border-right: 1px solid #464646; height: 100%; }
.divider-vertical-second{ border-left: 1px solid #F00; border-right: 1px solid #ff3651; height: 50px; }
.navbar-collapse{ margin:0px; padding:0px; }
.navbar-default .navbar-nav > li > a{color:white;}
.espace{position: absolute; top: 21px; right: 175px; z-index: 1;}
.imgPresentation{width:100%; height:auto;}

.menubutton{  width:24%;  text-align: center; height: 100%; }
.menubuttonEvent{  width:32%;  text-align: center; height: 100%; }
.menubutton:hover, .menubutton:focus { background-color: white;}
.menubuttonEvent:hover, .menubutton:focus { background-color: white;}
.menuheader{ width:25%; height:55px; }
.menucontainer{ width:100%; height:100%;}
.menuwrapper{width:75%; height:55px; float:left;}
/* FINMENU */

/* MODALS */
.modal-dialog{ width:70%; top:100px; background-color: rgb(192, 192, 192);padding: 1px;box-shadow: 2px 2px 2px gray, -1px -1px 2px white;}
.modal-content{ background-color: black; color:white; }
.modal-header > button{ opacity: 1; color:white; text-shadow: none;}
.modal-header{border: none;}
.modal-footer{border: none;}
/* FINMODALS */

/* COMMONS */
body{
    background-image: url("../../../images/slide/bg1.jpg");
    background-color: #FFF;
    background-position: center center;
    background-size:cover;
    overflow-x: hidden!important;
}

hr{
    border-color: rgb(255, 0, 0);
    border-width: 1px;
    margin-top:-20px;
}
td a {
    color:#F00;
}
.textAlignCenter{text-align: center;}
.bold{font-weight: bold;}
.underline{text-decoration: underline;}
.redtext{color:red;}
.whitetext{color:white;}
.text20{font-size: 20px;}
.bluetext{color:blue;}
.greenValidate{color:green; position:absolute; top:-15px; left:-10px; font-size: 30px;}
.mbottom15{margin-bottom: 15px;}
.width50{width:50px;}
.height50{height:50px !important;}
.redUnderline{text-decoration: underline; color:red !important;}
.table-condensed > tbody > tr > td{text-align:center;}

.table-condensed > thead > tr > th {
    text-align: center;
    background-color: black;
    color:white;
}

.table-condensed {
    background-color: white;
    color:black;
}
.btn-danger{
    background-color: #F00;
}
.control-label{ color : white;}
/* ENCOMMONS */

/*SPACE MENU*/
.space-menu{box-shadow: 2px 2px 2px gray, -1px -1px 2px white;top: 50px; right: 12%; position: absolute; width:160px; height:60px; z-index:2;background-color:black; border-radius:30px 10px 10px 30px;}
.rounded-image{display: block;  margin: 0 auto;  width: 60px;  height: 60px;  -webkit-border-radius: 50%;  -moz-border-radius: 50%;  border-radius: 50%; float:left; }
.space-menu-txt{width:95px; float:right; line-height:60px;}
.space-menu-txt:focus{color:black;background-color:white;}
.space-menu-txt:hover{color:black;background-color:white;}
.space-menu:hover{background-color: white;}
.space-menu:focus{background-color: white;}
.space-menu-link{padding:0; width:150px;}
.space-menu-der{z-index:1;margin-left:42px;margin-top:-18px;position:unset;}
/*ENDSPACE MENU*/

.navbar-default .navbar-nav > .open > a { color: black !important; }
.dropdown-toggle:focus { color: black !important; }
.dropdown-toggle:hover { color: black !important; }
/* DEMANDS */
.half{width:50%;display:inline-block;}
/* ENDDEMANDS */


@media (max-width: 1350px) {
    .logo_header{ width:auto; height:80%;}
}
@media (max-width: 1075px) {
    .logo_header{ width:auto; height:70%;}
}