{% extends 'CharlestownCustomerBundle::layout.html.twig'%}

{% block content %}
    {{ parent() }}

<div class="container charlestown-container">
    <div class="row charlestown-row">
        <div class="col-md-12 charlestown-col-md-12">
            <div class="charlestown-title">
                <h2>VOS CONTACTS</h2>
            </div>
            <div class="charlestown-scrollable">
                <h1><span class="glyphicon glyphicon-info-sign"></span> Le service client</h1>
                <p style="text-align:center;">
                    En cas de non réponse suite à un message, veuillez envoyer un mail à l'adresse suivante : <br/>
                    <a style="color:red;" href='mailto:clients@charlestown.fr'>clients@charlestown.fr</a>
                </p>
                <h1><span class="glyphicon glyphicon-info-sign"></span> Le service rh</h1>
                <p style="text-align: center;">
                    Pour contacter le service des ressources humaines, veuillez envoyer un mail à l'adresse suivante : <br/>
                    <a  style="color:red;" href='mailto:communication-rh@charlestown.fr'>communication-rh@charlestown.fr</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
