{% extends 'CharlestownCustomerBundle::layout.html.twig'%}

{% block content %}
    {{ parent() }}
<div class="alert alert-warning hidden" style="margin:auto; width:80%; top: 60px; text-align:center; position: relative;" id="label_success" role="alert">Demande de devis envoyée avec succès.</div>
<div class="alert alert-danger hidden" style="margin:auto; width:80%; top: 60px; text-align:center; position: relative;" id="label_fail" role="alert">Un problème est survenu, merci de contacter un administrateur.</div>
<div class="modal-dialog">
    <div class="modal-content"  style="padding-bottom: 30px;">
        <div class="modal-header" style="padding-bottom: 0px;">
            <nav class="navbar navbar-default secondNav">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav" style="width:100%;">
                            <li role="presentation" class="active">
                                <a href="#new" id="new-tab" role="tab" data-toggle="tab" aria-controls="new" aria-expanded="true">Nouvelle demande</a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#buy" id="buy-tab" role="tab" data-toggle="tab" aria-controls="buy" aria-expanded="true">Augmentation de la prestation</a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#comp" id="comp-tab" role="tab" data-toggle="tab" aria-controls="comp" aria-expanded="true">Prestation complémentaire</a>
                            </li>
                         </ul>
                    </div>
                </div>
            </nav>
         </div>
        <div class="modal-body" style="padding-top: 0px; color:black;">
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade" id="buy" aria-labelledby="buy-tab">
                    <div class="container" style="width:80%;">
                        <div class="row"  style="color:white; text-align: center; margin:auto;">
                            <label for="duree">Durée</label>
                            <input placeholder="Ex: 8 jours" class="form-control" type="text" name="duree" id="duree3"/><br/>
                            <label for="debut">Horaire début</label>
                            <input placeholder="Ex: 8h" class="form-control" type="text" name="debut" id="debut3"/><br/>
                            <label for="fin">Horaire fin</label>
                            <input placeholder="Ex: 20h" class="form-control" type="text" name="fin" id="fin3"/><br/>
                            <label for="nb">Nombre d'hôtes/hôtesses</label>
                            <input class="form-control"  type="number" name="nb" id="nb3"/><br/>
                            <button class="btn btn-danger" type="submit" id="augmentation">Envoyer</button>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="comp" aria-labelledby="comp-tab">
                    <div class="container" style="width:80%;">
                        <div class="row"  style="color:white; text-align: center; margin:auto;">
                            <label for="duree">Durée</label>
                            <input placeholder="Ex: 8 jours" class="form-control" type="text" name="duree" id="duree2"/><br/>
                            <label for="debut">Horaire début</label>
                            <input placeholder="Ex: 8h" class="form-control" type="text" name="debut" id="debut2"/><br/>
                            <label for="fin">Horaire fin</label>
                            <input placeholder="Ex: 20h" class="form-control" type="text" name="fin" id="fin2"/><br/>
                            <label for="nb">Nombre d'hôtes/hôtesses</label>
                            <input class="form-control"  type="number" name="nb" id="nb2"/><br/>
                            <button class="btn btn-danger" type="submit" id="complementaire">Envoyer</button>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade active in" id="new" aria-labelledby="new-tab">
                    <div class="container" style="width:80%;">
                        <div class="row"  style="color:white; text-align: center; margin:auto;">
                            <label for="type">Type</label>
                            <select id="type" name="type" class="form-control">
                                <option>Evenementiel</option>
                                <option>Accueil en entreprise</option>
                            </select><br/>
                            <label for="duree">Durée</label>
                            <input placeholder="Ex: 8 jours" class="form-control" type="text" name="duree" id="duree"/><br/>
                            <label for="debut">Horaire début</label>
                            <input placeholder="Ex: 8h" class="form-control" type="text" name="debut" id="debut"/><br/>
                            <label for="fin">Horaire fin</label>
                            <input placeholder="Ex: 20h" class="form-control" type="text" name="fin" id="fin"/><br/>
                            <label for="nb">Nombre d'hôtes/hôtesses</label>
                            <input class="form-control"  type="number" name="nb" id="nb"/><br/>
                            <label for="description">Descriptif de poste</label>
                            <textarea class="form-control" id="description"></textarea><br/>
                            <button class="btn btn-danger" type="submit" id="nouvelle">Envoyer</button>
                        </div>
                    </div>
                </div>

                <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
                <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
                <script>
                    $("#augmentation").click(function(e){
                        e.preventDefault();
                        var duree = $("#duree3").val();
                        var debut = $("#debut3").val();
                        var fin = $("#fin3").val();
                        var nb = $("#nb3").val();
                        var description = "NA";
                        var typepresta = "Accueil en entreprise";

                        $.ajax({
                            url: Routing.generate('devis_create'),
                            type: 'POST',
                            data: 'duree='+duree+'&debut='+debut+'&fin='+fin+'&nb='+nb+'&description='+description+'&typepresta='+typepresta+'&type=Augmentation de la prestation',
                            success: function (data) {
                                $("#label_success").removeClass('hidden');
                            },
                            error: function (data) {
                                $("#label_fail").removeClass('hidden');
                            }
                        });
                    });
                    $("#complementaire").click(function(e){
                        e.preventDefault();
                        var duree = $("#duree2").val();
                        var debut = $("#debut2").val();
                        var fin = $("#fin2").val();
                        var nb = $("#nb2").val();
                        var description = "NA";
                        var typepresta = "Accueil en entreprise";

                        $.ajax({
                            url: Routing.generate('devis_create'),
                            type: 'POST',
                            data: 'duree='+duree+'&debut='+debut+'&fin='+fin+'&nb='+nb+'&description='+description+'&typepresta='+typepresta+'&type=Prestation complémentaire',
                            success: function (data) {
                                $("#label_success").removeClass('hidden');
                            },
                            error: function (data) {
                                $("#label_fail").removeClass('hidden');
                            }
                        });
                    });
                    $("#nouvelle").click(function(e){
                        e.preventDefault();
                        var duree = $("#duree").val();
                        var debut = $("#debut").val();
                        var fin = $("#fin").val();
                        var nb = $("#nb").val();
                        var description = $("#description").val();
                        var typepresta = $("#type").val();

                        $.ajax({
                            url: Routing.generate('devis_create'),
                            type: 'POST',
                            data: 'duree='+duree+'&debut='+debut+'&fin='+fin+'&nb='+nb+'&description='+description+'&typepresta='+typepresta+'&type=Nouvelle prestation',
                            success: function (data) {
                                $("#label_success").removeClass('hidden');
                            },
                            error: function (data) {
                                $("#label_fail").removeClass('hidden');
                            }
                        });

                    });
                </script>
            </div>
        </div>
    </div>
</div>

{% endblock %}
