{% extends 'CharlestownCustomerBundle::layout.html.twig' %}
{% block content %}
{{ parent() }}
<div class="container charlestown-container">
    <div class="row charlestown-row">
        <div class="col-md-12 charlestown-col-md-12">
            <div class="charlestown-title">
                <h2>VOS CONTACTS</h2>
            </div>
            <div class="container charlestown-scrollable">
                <div class="row" style="text-align:left; background-color: white; position:relative; margin:15px; border-radius:15px; padding:15px;">
                    <div class="col-md-12" style="margin-bottom: 35px;">
                        <div id="alert" class="alert alert-warning hidden" style="width:70%; top:75px; margin:auto; position: relative;">
                                Votre message a été transmis au service qualité, nous vous contacterons rapidement.
                        </div>
                    </div>
                </div>
                <div class="row" style="text-align:left; background-color: white; position:relative; margin:15px; border-radius:15px; padding:15px;">
                    <div class="col-md-12" style="margin-bottom: 35px;">

                            <input class="champ" type="text" id="nom" required="required" placeholder="nom" />

                            <input class="champ" type="password" id="title" name="_password" required="required" placeholder="titre"  />

                            <textarea class="champ" type="password" id="body" name="_password" required="required" placeholder="message"  /></textarea>

                            <button class="bouton" type="submit" onclick="sendMail()">Envoyer</button>

                        <script>
                            function sendMail(){
                                var nom = $("#nom").val();
                                var title = $("#title").val();
                                var body = $("#body").val();
                                $("#nom").val("");
                                $("#title").val("");
                                $("#body").val("");
                                $("#alert").removeClass("hidden");
                                $.ajax({
                                    url: Routing.generate('quality_submit', {}),
                                    type: 'POST',
                                    data: 'title='+title+'&body='+body+'&nom'+nom,
                                    success: function (data) {
                                        console.log(data)
                                    },
                                    error: function (data) {
                                        console.log(data)
                                    }
                                });
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}